
#AnalystDiv{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #FCF7FD;
}

#head{
    height: 15%;
}
#body{
    height: 85%;
}



#MatrixImg{
    width: 20%;
    margin-left: 5%;
    justify-content: space-between;
}

#Sdiv{
    float: right;
    text-align: right;
    width: 12%
}

#imgS{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #2E2B76;
    text-align: center;
    margin-top: 20px;
    

}

#imgS label{
    width: 35px;
    height: 35px;
    color: white;

    font-family: Rubik, sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
}

#SImg{
    width: 100%;
    margin-top: 15px;
}


#LeftUp{
    text-align: left;
    margin-top: 24px;
}
#rightUp{
    text-align: right;

}
#divName {
    width: 85%;
    height: 50%;
    text-align: right;
    font-family: "Rubik" , sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 62px;
    color: #2E2B76;
    
}

#divDate {
    font-family: Rubik , sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-align: right;
    width: 85%;
}

#places{
   
    position: relative;
    background-color: white;
    width: 97%;
    height: 98%;
    margin-left:5% ;
    box-shadow: 2px 4px 40px 2px rgba(0, 0, 0, 0.15);
    border-radius: 1%
}

input , select  {
    width: 70%;
    height: 25px;
    border-radius: 40px 40px 40px 40px;
    color: #2E2B76;
    border:1px solid #2E2B76;
    background-color: white;
    font-family: "Rubik" , sans-serif;
    font-weight: 600;
    text-align: right;
    padding: 8px, 16px, 8px, 16px;
    margin-bottom: 5%;
 

}

#DateBtn{
background-color: white;
border-radius: 40px 40px 40px 40px;
width: 70%;
height: 25px;
text-align: right;
color: #2E2B76;
border:1px solid #2E2B76;
background-color: white;
font-family:Rubik , sans-serif;
font-weight: 600;
padding: 0 2%;
margin-bottom: 5%;

}
.dropdown-select{
    direction: rtl
}

#selectClass {
    background-color: white;
    border-radius: 40px 40px 40px 40px;
    color:#2E2B76;
    width: 80%;
    height: 70%;

}

#CalendarIcon{
    margin-right: 40%;
    margin-top: -2.5%;
    width: 14%;
    height: 85%;
}

#pDiv{
    text-align: right;
    width:85%;
    color: #2E2B76;
    font-family:Rubik , sans-serif;

}

#FaEraser{
    margin-right: 42%;
    margin-top: -2%;
}

#endBtn{
    color: white;
    background-color: #2E2B76;
    text-align: center;
}

#AdeskA{
    width: 150px;
    height: 180px;
    position: absolute;
    left: 75%;
    top:5%
}

#AdeskB{
    width: 150px;
    height: 180px;
    position: absolute;
    left: 55%;
    top: 5%;
}

#AdeskC{
    width: 150px;
    height: 180px;
    position: absolute;
    left: 35%;
    top: 5%;
}

#AdeskD{
    width: 150px;
    height: 180px;
    position: absolute;
    left: 40%;
    top:55%
  
}

#AdeskE{
    width: 150px;
    height: 180px;
    position: absolute;
    transform: rotate(90deg);
    top:40%;
    left: 4%;
}

#AdeskF{
    width: 150px;
    height: 180px;
    position: absolute;
    transform: rotate(90deg);
    top:70%;
    left: 4%;
}

#AdeskG{
    width: 150px;
    height: 180px;
    position: absolute;
    transform: rotate(45deg);
    top:10%;
    left:5%
}

#line{
    width: 15%;
    border: 3px solid #2E2B76;  
    transform: rotate(90deg); 
    position: absolute;
    top:12%;
    left: 17%
    
}
#line2{
    width: 55%;
    border: 3px solid #2E2B76;  
    position: absolute;
    top:30%;
    right: 12%
    
}
#line3{
    width: 12%;
    border: 3px solid #2E2B76;  
    position: absolute;
    top:72%;
    right: 45%
    
}
#line4{
    width: 12%;
    border: 3px solid #2E2B76;  
    position: absolute;
    transform: rotate(90deg); 
    top:61%;
    right: 39%
    
}
#line5{
    width: 8%;
    border: 3px solid #2E2B76;  
    position: absolute;
    transform: rotate(90deg); 
    top:58%;
    right: 33%
    
}
#line6{
    width: 8%;
    border: 3px solid #2E2B76;  
    position: absolute;
    top:65%;
    right: 29%
    
}

#line7{
    width: 13%;
    border: 3px solid #2E2B76;  
    position: absolute;
    top:65%;
    right: 7%
    
}

#couch{
    color: #BFCBD9;
    width: 120px;
    height: 90px;
    position: absolute;
    right: 20%;
    top:60%

}

#spa{
    width: 120px;
    height: 50px;
    color: #2E2B76;  
    position: absolute;
    top:53%;
    right: 30%
}
#plot{
    width: 35px;
    height: 35px;
    color: #2E2B76;  
    position: absolute;
    top:53%;
    right: 34%
}


#AseatA1{
    width: 40px;
    height: 40px;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(270deg);
    position: absolute;
    top:10%;
    left: 0;
}

#AseatA2{
    width: 40px;
    height: 40px;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(270deg);
    position: absolute;
    top:37%;
    left: 0;
}

#AseatA3{
    width: 40px;
    height: 40px;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(90deg);
    position: absolute;
    right: 0;
    top:37%;
}

#AseatA4{
    width: 40px;
    height: 40px;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(90deg);
    position: absolute;
    right: 0;
    top:10%;
}

#AseatB1{
    width: 40px;
    height: 40px;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(90deg);
    position: absolute;
    top:10%;
    right: 0;
}

#AseatB2{
    width: 40px;
    height: 40px;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(270deg);
    position: absolute;
    top:37%;
    left: 0;
}

#AseatB3{
    width: 40px;
    height: 40px;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(90deg);
    position: absolute;
    right: 0;
    top:37%;
}

#AseatC1{
    width: 40px;
    height: 40px;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(270deg);
    position: absolute;
    top:10%;
    left: 0;
}

#AseatC2{
    width: 40px;
    height: 40px;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(270deg);
    position: absolute;
    top:37%;
    left: 0;
}

#AseatC3{
    width: 40px;
    height: 40px;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(90deg);
    position: absolute;
    right: 0;
    top:37%;
}

#AseatD1{
    width: 40px;
    height: 40px;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(270deg);
    position: absolute;
    top:10%;
    left: 0;
}

#AseatD2{
    width: 40px;
    height: 40px;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(270deg);
    position: absolute;
    top:37%;
    left: 0;
}

#AseatD3{
    width: 40px;
    height: 40px;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(90deg);
    position: absolute;
    right: 0;
    top:37%;
}

#AseatD4{
    width: 40px;
    height: 40px;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(90deg);
    position: absolute;
    right: 0;
    top:10%;
}

#AseatE1{
    width: 40px;
    height: 40px;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(270deg);
    position: absolute;
    top:10%;
    left: 0;
}

#AseatE2{
    width: 40px;
    height: 40px;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(270deg);
    position: absolute;
    top:37%;
    left: 0;
}

#AseatE3{
    width: 40px;
    height: 40px;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(90deg);
    position: absolute;
    right: 0;
    top:37%;
}

#AseatE4{
    width: 40px;
    height: 40px;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(90deg);
    position: absolute;
    right: 0;
    top:10%;
}

#AseatE5{
    width: 40px;
    height: 40px;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(90deg);
    position: absolute;
    right: 0;
    top:64%;
}


#AseatE6{
    width: 40px;
    height: 40px;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(270deg);
    position: absolute;
    left: 0;
    top:64%;
}

#AseatF1{
    width: 40px;
    height: 40px;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(270deg);
    position: absolute;
    top:10%;
    left: 0;
}

#AseatF2{
    width: 40px;
    height: 40px;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(270deg);
    position: absolute;
    top:37%;
    left: 0;
}

#AseatF3{
    width: 40px;
    height: 40px;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(90deg);
    position: absolute;
    right: 0;
    top:37%;
}

#AseatF4{
    width: 40px;
    height: 40px;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(90deg);
    position: absolute;
    right: 0;
    top:10%;
}

#AseatF5{
    width: 40px;
    height: 40px;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(90deg);
    position: absolute;
    right: 0;
    top:64%;
}


#AseatF6{
    width: 40px;
    height: 40px;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(270deg);
    position: absolute;
    left: 0;
    top:64%;
}

#AseatG1{
    width: 40px;
    height: 40px;
    border-radius: 8px 8px 0px 0px;
    background-color:#fff ;
    transform: rotate(270deg);
    position: absolute;
    border: 2px solid #7D7D82;
    left: 0;
    top:37%;
}
#AseatG2{
    width: 40px;
    height: 40px;
    border-radius: 8px 8px 0px 0px;
    background-color:#fff ;
    transform: rotate(270deg);
    position: absolute;
    border: 2px solid #7D7D82;
    left: 0;
    top:10%;
}

.desk{
    width: 60px;
    height: 90px;
    border-radius: 8px;
    background-color: #BFCBD9 ;
    position: absolute;
    top:10%;
    left:30%
}
.desk2{
    width: 60px;
    height: 140px;
    border-radius: 8px ;
    background-color: #BFCBD9 ;
    position: absolute;
    top:10%;
    left:30%
}
.desk5{
    width: 60px;
    height: 90px;
    border-radius: 40px;
    background-color: #BFCBD9 ;
    position: absolute;
    top:10%;
    left:30%
}
#pickDiv{
    background-color: white;
    position: absolute;
    width: 600px;
    height: 180px;
    top: 25%;
    left: 25%;
    border-radius: 8px;
    box-shadow: 2px 4px 40px 2px rgba(0, 0, 0, 0.15);

}

#exitIcon{
    color:#2E2B76;
    position: absolute;
    width: 25px;
    height: 25px;
    left: 2%;
    top:5%
}

#checkIcon{
    color:#2E2B76;
    width: 40px;
    height: 90px;
    position: absolute;
    right:5%;
    top: 10%;
}

#textPick{
    font-family: Rubik, sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #2E2B76;
    position: absolute;
    right:13%;
    top: 23%;
}

#confimPick{
border-radius: 40px 40px 40px 40px;
width: 28%;
height: 30px;
color: #2E2B76;
border:1px solid #2E2B76;
background-color: white;
font-family:Rubik , sans-serif;
font-weight: 600;
font-size: 14px;
text-align: right;
position: absolute;
top:60%;
right:5%;
padding: 0;
text-align: center;
}
#changePick{
    border-radius: 40px 40px 40px 40px;
    width: 28%;
    height: 30px;
    color: #2E2B76;
    border:1px solid #2E2B76;
    background-color: white;
    font-family:Rubik , sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-align: right;
    position: absolute;
    top:60%;
    right:34%;
    padding: 0;
    text-align: center;
}

#anotherPick{
    border-radius: 40px 40px 40px 40px;
    width: 28%;
    height: 30px;
    color: #2E2B76;
    border:1px solid #2E2B76;
    background-color: white;
    font-family:Rubik , sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-align: right;
    position: absolute;
    top:60%;
    right:64%;
    padding: 0;
    text-align: center;
}





