

#page{
    position: absolute;
    width: 110%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #FCF7FD;
}




#headPage{
    width: 1840px;
    height: 64px;
    margin-top: 24px;
    margin-left: 39.5px;
    display: flex;
    justify-content: space-between;
}

#matrixImg{
    width: 190px;
    height: 61.07;
}

#divS{
    width: 64px;
    height: 64px;
    background-color: #2E2B76;
    border-radius: 100%;
}

#divS div{
    width: 31px;
    height: 57px;
    margin-top: 3.5px;
    margin-left: 16.5px;
    color: white;

    font-family:Rubik , sans-serif;
    font-weight:500;
    font-size: 48px;
    line-height: 56.88;
    text-align: center;
}