



#upperDesks{
    position: absolute;
    width: 75%;
    height: 40%;
    right: 0;
    top:5%
}

#leftDesks{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80%;
}
#AdeskA{
    width: 22%;
    height: 70%;
    position: absolute;
    right: 5%;
    top:5%
}

#AdeskB{
    width: 22%;
    height: 70%;
    position: absolute;
    right: 33%;
    top: 5%;
}

#AdeskC{
    width: 22%;
    height: 70%;
    position: absolute;
    right: 60%;
    top: 5%;
}

#AdeskD{
    width: 150px;
    height: 180px;
    position: absolute;
    left: 40%;
    top:55%
  
}

#AdeskE{
    width: 150px;
    height: 180px;
    position: absolute;
    transform: rotate(90deg);
    top:40%;
    left: 4%;
}

#AdeskF{
    width: 150px;
    height: 180px;
    position: absolute;
    transform: rotate(90deg);
    top:70%;
    left: 4%;
}

#AdeskG{
    width: 150px;
    height: 180px;
    position: absolute;
    transform: rotate(45deg);
    top:10%;
    left:5%
}

#line{
    width: 18%;
    border: 1.5px solid #2E2B76;  
    transform: rotate(90deg); 
    position: absolute;
    top:26%;
    left: 0;
    
}
#line2{
    width: 70%;
    border: 1.5px solid #2E2B76;  
    position: absolute;
    bottom: 0%;
    right: 12%
    
}
#line3{
    width: 12%;
    border: 3px solid #2E2B76;  
    position: absolute;
    top:72%;
    right: 45%
    
}
#line4{
    width: 12%;
    border: 3px solid #2E2B76;  
    position: absolute;
    transform: rotate(90deg); 
    top:61%;
    right: 39%
    
}
#line5{
    width: 8%;
    border: 3px solid #2E2B76;  
    position: absolute;
    transform: rotate(90deg); 
    top:58%;
    right: 33%
    
}
#line6{
    width: 8%;
    border: 3px solid #2E2B76;  
    position: absolute;
    top:65%;
    right: 29%
    
}

#line7{
    width: 13%;
    border: 3px solid #2E2B76;  
    position: absolute;
    top:65%;
    right: 7%
    
}

#couch{
    color: #BFCBD9;
    width: 120px;
    height: 90px;
    position: absolute;
    right: 20%;
    top:60%

}

#spa{
    width: 120px;
    height: 50px;
    color: #2E2B76;  
    position: absolute;
    top:53%;
    right: 30%
}
#plot{
    width: 35px;
    height: 35px;
    color: #2E2B76;  
    position: absolute;
    top:53%;
    right: 34%
}


#AseatA1{
    width: 20%;
    height: 30%;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(270deg);
    position: absolute;
    top:12%;
    left: 0;
}

#AseatA2{
    width: 20%;
    height: 30%;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(270deg);
    position: absolute;
    top:47%;
    left: 0;
}

#AseatA3{
    width: 20%;
    height: 30%;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(90deg);
    position: absolute;
    right: 0;
    top:12%;
}

#AseatA4{
    width: 20%;
    height: 30%;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(90deg);
    position: absolute;
    right: 0;
    top:47%;
}

#AseatB1{
    width: 20%;
    height: 30%;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(90deg);
    position: absolute;
    top:12%;
    right: 0;
}

#AseatB2{
    width: 20%;
    height: 30%;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(270deg);
    position: absolute;
    top:47%;
    left: 0;
}

#AseatB3{
    width: 20%;
    height: 30%;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(90deg);
    position: absolute;
    right: 0;
    top:47%;
}

#AseatC1{
    width: 20%;
    height: 30%;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(270deg);
    position: absolute;
    top:12%;
    left: 0;
}

#AseatC2{
    width: 20%;
    height: 30%;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(270deg);
    position: absolute;
    top:47%;
    left: 0;
}

#AseatC3{
    width: 20%;
    height: 30%;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(90deg);
    position: absolute;
    right: 0;
    top:47%;
}

#AseatD1{
    width: 40px;
    height: 40px;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(270deg);
    position: absolute;
    top:10%;
    left: 0;
}

#AseatD2{
    width: 40px;
    height: 40px;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(270deg);
    position: absolute;
    top:37%;
    left: 0;
}

#AseatD3{
    width: 40px;
    height: 40px;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(90deg);
    position: absolute;
    right: 0;
    top:37%;
}

#AseatD4{
    width: 40px;
    height: 40px;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(90deg);
    position: absolute;
    right: 0;
    top:10%;
}

#AseatE1{
    width: 40px;
    height: 40px;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(270deg);
    position: absolute;
    top:10%;
    left: 0;
}

#AseatE2{
    width: 40px;
    height: 40px;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(270deg);
    position: absolute;
    top:37%;
    left: 0;
}

#AseatE3{
    width: 40px;
    height: 40px;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(90deg);
    position: absolute;
    right: 0;
    top:37%;
}

#AseatE4{
    width: 40px;
    height: 40px;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(90deg);
    position: absolute;
    right: 0;
    top:10%;
}

#AseatE5{
    width: 40px;
    height: 40px;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(90deg);
    position: absolute;
    right: 0;
    top:64%;
}


#AseatE6{
    width: 40px;
    height: 40px;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(270deg);
    position: absolute;
    left: 0;
    top:64%;
}

#AseatF1{
    width: 40px;
    height: 40px;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(270deg);
    position: absolute;
    top:10%;
    left: 0;
}

#AseatF2{
    width: 40px;
    height: 40px;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(270deg);
    position: absolute;
    top:37%;
    left: 0;
}

#AseatF3{
    width: 40px;
    height: 40px;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(90deg);
    position: absolute;
    right: 0;
    top:37%;
}

#AseatF4{
    width: 40px;
    height: 40px;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(90deg);
    position: absolute;
    right: 0;
    top:10%;
}

#AseatF5{
    width: 40px;
    height: 40px;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(90deg);
    position: absolute;
    right: 0;
    top:64%;
}


#AseatF6{
    width: 40px;
    height: 40px;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    transform: rotate(270deg);
    position: absolute;
    left: 0;
    top:64%;
}

#AseatG1{
    width: 40px;
    height: 40px;
    border-radius: 8px 8px 0px 0px;
    background-color:#fff ;
    transform: rotate(270deg);
    position: absolute;
    border: 2px solid #7D7D82;
    left: 0;
    top:37%;
}
#AseatG2{
    width: 40px;
    height: 40px;
    border-radius: 8px 8px 0px 0px;
    background-color:#fff ;
    transform: rotate(270deg);
    position: absolute;
    border: 2px solid #7D7D82;
    left: 0;
    top:10%;
}

.desk{
    width: 60px;
    height: 90px;
    border-radius: 8px;
    background-color: #BFCBD9 ;
    position: absolute;
    top:10%;
    left:30%
}
.desk2{
    width: 60px;
    height: 140px;
    border-radius: 8px ;
    background-color: #BFCBD9 ;
    position: absolute;
    top:10%;
    left:30%
}
.desk5{
    width: 60px;
    height: 90px;
    border-radius: 40px;
    background-color: #BFCBD9 ;
    position: absolute;
    top:10%;
    left:30%
}






