



#upperDesks{
    position: absolute;
    width: 75%;
    height: 40%;
    right: 0;
    top:5%
}

#DownDesk{
    position: absolute;
    width: 20%;
    height: 40%;
    left: 40%;
    top:50%
}
#leftDesks{
    position: absolute;
    left: 3%;
    bottom: 0%;
    height: 65%;
    width: 30%;
}

.p2{
    position: absolute;
    top:0;
    transform: rotate(90deg);
}

#rightSide{
    position: absolute;
    border-bottom: 3px solid #2E2B76;
    border-left: 3px solid #2E2B76;
    height: 15%;
    width: 30%;
    top: 60%;
    right: 5%;

}

#AdeskA{
    width: 22%;
    height: 50%;
    position: absolute;
    right: 5%;
    top:15%
}

#AdeskB{
    width: 22%;
    height: 50%;
    position: absolute;
    right: 33%;
    top: 15%;
}

#AdeskC{
    width: 22%;
    height: 50%;
    position: absolute;
    right: 60%;
    top: 15%;
}

#AdeskD{
    width: 82%;
    height: 50%;
    position: absolute;
    left: 0%;
    bottom:15%;
  
}

#AdeskE{
    width: 55%;
    height: 45%;
    position: absolute;
    top:2%;
    left: 20%;
}

#AdeskF{
    width: 55%;
    height: 45%;
    position: absolute;
    top:52%;
    left: 20%;
}

#AdeskG{
    width: 8%;
    height: 18%;
    position: absolute;
    transform: rotate(42deg);
    top:8%;
    left:10%
}

#line{
    width: 18%;
    border: 1.5px solid #2E2B76;  
    transform: rotate(90deg); 
    position: absolute;
    top:26%;
    left: 0;
    
}
#line2{
    width: 70%;
    border: 1.5px solid #2E2B76;  
    position: absolute;
    bottom: 0%;
    right: 12%
    
}
#line3{
    width: 56%;
    border: 1.5px solid #2E2B76;  
    position: absolute;
    bottom:0%;
    right: 0%
    
}
#line4{
    width: 56%;
    border: 1.5px solid #2E2B76;  
    position: absolute;
    transform: rotate(90deg); 
    bottom:30%;
    right: -28%
    
}
#line5{
    width: 70%;
    border: 1.5px solid #2E2B76;  
    position: absolute;
    top:-5%;
    left: 5%
    
}

#couch{
    color: #BFCBD9;
    width: 50%;
    height: 95%;
    position: absolute;
    right: 30%;
    bottom:-35%;
}

#spa{
    width: 120px;
    height: 50px;
    color: #2E2B76;  
    position: absolute;
    top:53%;
    right: 30%
}
#plot{
    width: 25px;
    height: 25px;
    color: #2E2B76;  
    position: absolute;
    bottom:0%;
    left: 0%
}


#A1{
    width: 20%;
    height: 40%;
    border-radius: 8px 0px 0px 8px;
    background-color:#76BC8B ;
    position: absolute;
    top:5%;
    left: 0;
}

#A2{
    width: 20%;
    height: 40%;
    border-radius: 8px 0px 0px 8px;
    position: absolute;
    bottom:5%;
    left: 0;
}

#A3{
    width: 20%;
    height: 40%;
    border-radius: 0px 8px 8px 0px;
    background-color:#76BC8B ;
    position: absolute;
    right: 0;
    top:5%;
}

#A4{
    width: 20%;
    height: 40%;
    border-radius: 0px 8px 8px 0px;
    background-color:#76BC8B ;
    position: absolute;
    right: 0;
    bottom:5%;
}

#B1{
    width: 20%;
    height: 40%;
    border-radius: 8px 0px 0px 8px;
    background-color:#76BC8B ;
    position: absolute;
    top:5%;
    left: 0;
}

#B2{
    width: 20%;
    height: 40%;
    border-radius: 8px 0px 0px 8px;
    position: absolute;
    bottom:5%;
    left: 0;
}

#B3{
    height: 40%;
    border-radius: 0px 8px 8px 0px;
    background-color:#76BC8B ;
    position: absolute;
    right: 0;
    bottom:5%;
}

#C1{
    width: 20%;
    height: 40%;
    border-radius: 8px 0px 0px 8px;
    background-color:#76BC8B ;
    position: absolute;
    top:5%;
    left: 0;
}

#C2{
    width: 20%;
    height: 40%;
    border-radius: 8px 0px 0px 8px;
    position: absolute;
    bottom:5%;
    left: 0;
}

#C3{
    height: 40%;
    border-radius: 0px 8px 8px 0px;
    background-color:#76BC8B ;
    position: absolute;
    right: 0;
    bottom:5%;
}

#AseatD1{
    width: 20%;
    height: 40%;
    border-radius: 8px 0px 0px 8px;
    background-color:#76BC8B ;
    position: absolute;
    top:5%;
    left: 0%;
}

#AseatD2{
    width: 20%;
    height: 40%;
    border-radius: 8px 0px 0px 8px;
    background-color:#76BC8B ;
    position: absolute;
    left: 0;
    bottom: 5%;
}

#AseatD3{
    width: 20%;
    height: 40%;
    border-radius: 0px 8px 8px 0px;
    background-color:#76BC8B ;
    position: absolute;
    right: 0%;
    top:5%;
}

#AseatD4{
    width: 20%;
    height: 40%;
    border-radius: 0px 8px 8px 0px;
    background-color:#76BC8B ;
    position: absolute;
    right: 0%;
    bottom:5%;
}

#AseatE1{
    width: 30%;
    height: 26%;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    position: absolute;
    top:0%;
    right: 0;
}

#AseatE2{
    width: 30%;
    height: 26%;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    position: absolute;
    top:0%;
    left: 35%;
}

#AseatE3{
    width: 30%;
    height: 27%;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    position: absolute;
    left: 0;
    top:0%;
}

#AseatE4{
    width: 30%;
    height: 27%;
    border-radius: 0px 0px 8px 8px;
    background-color:#76BC8B ;
    position: absolute;
    bottom:0%;
    right: 0;
}

#AseatE5{
    width: 30%;
    height: 27%;
    border-radius: 0px 0px 8px 8px;
    background-color:#76BC8B ;
    position: absolute;
    bottom:0%;
    right: 35%;
}


#AseatE6{
    width: 30%;
    height: 27%;
    border-radius: 0px 0px 8px 8px;
    background-color:#76BC8B ;
    position: absolute;
    bottom:0%;
    left: 0;
}

#AseatF1{
    width: 30%;
    height: 26%;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    position: absolute;
    top:0%;
    right: 0;
}

#AseatF2{
    width: 30%;
    height: 26%;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    position: absolute;
    top:0%;
    right: 35%;
}

#AseatF3{
    width: 30%;
    height: 26%;
    border-radius: 8px 8px 0px 0px;
    background-color:#76BC8B ;
    position: absolute;
    top:0%;
    left: 0;
}

#AseatF4{
    width: 30%;
    height: 27%;
    border-radius: 0px 0px 8px 8px;
    background-color:#76BC8B ;
    position: absolute;
    bottom:0%;
    right: 0;
}

#AseatF5{
    width: 30%;
    height: 27%;
    border-radius: 0px 0px 8px 8px;
    background-color:#76BC8B ;
    position: absolute;
    bottom:0%;
    right: 35%;
}


#AseatF6{
    width: 30%;
    height: 27%;
    border-radius: 0px 0px 8px 8px;
    background-color:#76BC8B ;
    position: absolute;
    bottom:0%;
    left: 0;
}

#AseatG1{
    width: 30px;
    height: 30px;
    border-radius: 8px 0px 0px 8px;
    background-color:#fff ;
    position: absolute;
    border: 2px solid #7D7D82;
    left: -40%;
    top:10%;
}
#AseatG2{
    width: 30px;
    height: 30px;
    border-radius: 8px 0px 0px 8px;
    background-color:#fff ;
    position: absolute;
    border: 2px solid #7D7D82;
    left: -40%;
    bottom: 10%;
}

.desk{
    width: 40%;
    height: 100%;
    border-radius: 8px;
    background-color: #BFCBD9 ;
    position: absolute;
    top:0%;
    left:30%
}
.desk2{
    width: 100%;
    height: 40%;
    border-radius: 8px ;
    background-color: #BFCBD9 ;
    position: absolute;
    top:30%;
    left:0%
}
.desk5{
    width: 80%;
    height: 100%;
    border-radius: 40px;
    background-color: #BFCBD9 ;
    position: absolute;
    top:0%;
    right:0%
}






